<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lightspeed Servicecall</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form action="//ctro.us9.list-manage.com/subscribe/post?u=e87e162ac734ea9365a3a3f55&amp;id=ed35c0aa6f" method ="post" target="_blank" class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" name="EMAIL" placeholder="Email" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Learn More</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
